/.vscode
/eegloger.pyc
/eeglog_attentiontobe.csv
/eeglog_attention_ddf.csv
/eeglog_attention_ddff.csv
/eeglog_attention_tes0.csv
/eeglog_attention_tes1.csv
/eeglog_attention_tes11.csv
/eeglog_attention_tes23.csv
/eeglog_attention_tes3.csv
/eeglog_attention_tesd.csv
/eeglog_attention_test1.csv
/eeglog_attention_test2.csv
/eeglog_eee_tes.csv
/eeglog_meditaion_tes1.csv
/eeglog_meditation_dddd.csv
/eeglog_meditation_ddff.csv
/eeglog_meditation_tes.csv
/eeglog_meditation_tesd.csv
/eeglog_raw_dddd.csv
/eeglog_raw_ddff.csv
/eeglog_raw_te1.csv
/eeglog_test.csv
/sampleThread.py
/tyral.py
/gui.spec
/build